<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Sell Product</ion-title>

        <ion-buttons end>
            <button ion-button (click)="go_home()">
                    <ion-icon name="arrow-round-back" style="color:white;text-align: right"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-searchbar placeholder="Search product to view details" [(ngModel)]="search"  [showCancelButton]="shouldShowCancel"   (ionInput)="getItems($event)"  (ionCancel)="onCancel($event)" ></ion-searchbar>
    <ion-item>
        <ion-label>Category:</ion-label>
        <ion-select [(ngModel)]="category_id" interface='popover' (ngModelChange)="search_products()">
            <ion-option value="" selected>Select</ion-option>
            <ion-option *ngFor="let item of categorys" value="{{item.category_id}}" >{{item.category_name}}</ion-option>
        </ion-select> 

    </ion-item> 
    <ion-grid>
        <ion-row>
            <ion-col>Product Name</ion-col>
            <ion-col>Quantity</ion-col>
            <ion-col>Retail  Price</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of products" (click)="view_product(item.id)" style="border-top:1px #F1F1F1 solid;padding-top:2px">
            <ion-col>{{item.product_name }}</ion-col>
            <ion-col>{{item.quantity}}</ion-col>
            <ion-col>{{item.product_price}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
